In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome()

products = [] # List to store name of the product
prices = [] # List to store price of the product
ratings = [] # List to store rating of the products

driver.get('https://webbook.nist.gov/cgi/cbook.cgi?Formula=N2&NoIon=on&Units=SI')

In [3]:
content = driver.page_source
soup = BeautifulSoup(content, 'html.parser')
#print(soup.prettify())
for a in soup.find_all('main', attrs = {'li'}):
    name=a.find('div', attrs={'class':'_3wU53n'})
    price=a.find('div', attrs={'class':'_1vC4OE _2rQ-NK'})
    print(a)

In [8]:
data = {}

for i, a in enumerate(soup.find('main').find('ul').find_all('li')):
    #print('{}: {}'.format(i, a))
    if i == 1:
        print(str(a).split('</strong> ')[1].split('<')[0])
        data['MW'] = [str(a).split('</strong> ')[1].split('<')[0]]
    if i == 2:
        print(str(a).split('monospace;">')[1].split('</span></li>')[0])
        data['ID'] = [str(a).split('monospace;">')[1].split('</span></li>')[0]]

28.0134
InChI=1S/N2/c1-2

In [9]:
data

{'MW': ['28.0134'], 'ID': ['InChI=1S/N2/c1-2']}

In [29]:
dt = pd.DataFrame(data)
#dt = dt.set_index('ID')

                       MW
ID
InChI=1S/N2/c1-2  28.0134

In [30]:
data2 = {'MW': '29.25', 'ID': 'test'}

In [31]:
dt.append(data2, ignore_index=True)

        MW                ID
0  28.0134  InChI=1S/N2/c1-2
1    29.25              test